body{
    background-color: #aaa !important;
}

.sidenav {
    height:100%;
    width:160px;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding:6px 8px 6px 16px;
    text-decoration: none;
    font-size:25px;
    color: #818181;
    display:block;
}

.sidenav a:hover{
    color:#f1f1f1;
}	

.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0px;
    z-index: 1;
    display: none;  
    justify-content: center; 
    align-items: center;
}

.modal-content{
    width: 600px;
    height: 300px;
    background-color: white;
    border: none; 
    border-radius: 15px;
    padding: 15px;
    position: relative;
}

.close{
    position: absolute;
    top:5px;
    right: 14px;
    font-size:25px;
    transform: rotate(45deg);
    cursor: pointer;
}

.main{
    margin-left:160px;
    padding: 0px 10px;
}