<!-- templates/table_display.html -->
{% extends 'base.html' %}

{% block title %}Data view{% endblock %}

{% block content %}
    <h2 class="mt-2"> {{ table_name }} </h2>
    <a class="btn btn-dark" href="{{ request.path }}/add" role="button"> Add new entry </a>
    {% if user.is_authenticated %}
        <table class="table">
            <thead>
                <tr>
                    {% for item in query_header%}
                        <th scope="col"> {{ item }} </th>
                    {% endfor %}
                </tr>
            </thread>
            <tbody>
                {% for item in query_result %}
                    <tr>
                        {% for field in item %}
                            <td> {{ field }} </td>
                        {% endfor %}
                        <td>
                            <form action='{{ request.path }}/modify' method="post">
                                {% csrf_token %}
                                <button action='add' type="submit" name="edit" value="{{ item.0 }}">
                                    <span class="glyphicon material-icons">edit</span>
                                </button>
                            </form>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" name="remove" value="{{ item.0 }}">
                                    <span class="glyphicon material-icons" style="color:red">remove_circle</span>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="bg-modal">
            <div class="modal-content">
                <div class="close"> + </div>
            </div>
        </div>
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}