<!-- templates/table_display.html -->
{% extends 'base.html' %}

{% block title %}Data view{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <table class="table">
        <thead>
            <tr>
                {% for item in query_header%}
                    <th scope="col"> {{ item }} </th>
                {% endfor %}
            </tr>
        </thread>
        <tbody>
            {% for item in query_result %}
                <tr>
                {% for field in item %}
                    <td> {{ field }} </td>
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}